h1 {
    text-align: center;
    padding-top: 30px;
    color: black;
}

body {
    background-image: url(Images/ballot-black-and-white-black-and-white-1550337.jpg);
    background-size: cover;
    font-family: Arial, sans-serif;
}

span {
    color: red;
}

.form {
    margin-left: 500px;
    margin-top: 50px;
    background: rgb(192,192,192,0.95);
    padding: 20px;
    width: 40%;
}

input[type=text], input[type=email], input[type=number], select {
  width: 100%;
  padding: 12px;
  margin-top: 6px;
  margin-bottom: 16px;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}